.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.section {
    max-width: 100%;
    .col {
        display: inline-block;
        vertical-align: top;
        .card-container {
            border: 1px solid #999;
            margin-bottom: 30px;
            &:hover, &:focus {
                transform: scale(1.0);
                transition: all .5s;
                z-index: 100;
                box-shadow: 0 0 10px gray;
            }
            .card-image {
                width: 100%;
                text-align: center;
                overflow: hidden;
                img {
                    max-width: 100%;
                    height: auto;
                }
            }
            .card-title {
                margin: 0;
                padding: 10px 15px 0px 15px;
                font-size: 20px;
                font-weight: 600;
                line-height: 22px;
            }
            .card-description {
                margin: 0;
                padding: 15px;
            }
            .card-footer {
                margin: 0;
                padding: 15px;
                display: flex;
                flex-basis: 100%;
                flex-direction: row;
                flex-wrap: wrap;
                .card-publication, .card-date {
                    display: inline-block;
                    flex: 1;
                    margin: auto 0px;
                    flex-direction: column;
                }
                .card-date {
                    text-align: right;
                }
            }
        }
    }
}
